.college{
  background-image : url(https://lh3.googleusercontent.com/proxy/NPnSQ8bK2s8wbEF3b1u4OE1lsqpJMEcIWT7ikZGi8v2AQc-572Ngqi-NJ7IHJ6s1oX_sqHThUjjG4xzIRRCSqVY4Dyc) ;
  background-size : cover;
  background-position : center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color:#EEEEEE;
  padding:10px;
  color:#4356FF;
  display:flex;
}

.nav-menu {
  overflow: hidden;
  background-color:#002942
}

.nav-menu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #0011AB;

}
.button {
  background-color: #ddd;
  width: 300px;
  border: none;
  border-radius: 15px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction:coloumn;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  background-color:#F0F0F0;
}

.bg{
  background-image : url(girllap.jpg) ;
  background-size : cover;
  background-position : center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  .cen{
    width:300px;
    heigth:1000px;
    background-color:rgb(0,0,0,0.6);
    color:white;
    top:50%;
    left:50%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    margin: 30px;
    padding-left: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
   
  }
   

  .head1{
    text-align: center;
    color: whitesmoke;
    margin-top: 150px;
    
    
  }

