.header{
background-color:black;
  padding:20px;
  color:white;
}
.column {
  float: left;
  width: 60%;
  padding-left: 150px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
